<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if @name == "pedro" %>
      <h1>Hello, <%= @name %></h1>
    <% else %>
      <h1>Hello, desconocido</h1>
    <% end %>

    <% #IF-ELSE, .EACH, WHILE, codigo scriptlet %>
    <%= #IMPRIME VARIABLES, TEXTO %>
  </body>
</html>
