<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Layout</title>
    // csss
    <scrip>
      // javascript
    </scrip>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
