<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Hola <%= params[:name] %> con password <%= params[:password] %>
  </body>
</html>
